* {
    margin: 0;
    padding: 0;
}
div {
    width: 500px;
    height: 200px;
    background: url("../imgs/googlelogo_color_272x92dp.png");
    border: 10px dashed #369;
    padding: 10px 20px 30px 40px;
    margin: 100px 80px 50px 20px;
}